p
{ 


    font-weight: 100;
    color:rgb(255, 255, 255);
    font-size: larger;
}
body
{
background-color: rgb(216, 156, 174);
font-family: "Playfair Display", serif;

}
img
{
width:500px;
border: 200px;px;
border-color:rgb(255, 149, 149);
border-style: double;
}